.el-breadcrumb {
    margin-bottom: 20px;
}
.el-table {
    margin-top: 15px;
    font-size: 14px;
}
/* .el-cascader-menu {
    height: 240px;
} */
.quill-editor {
    height: 260px;
}
.ql-container{
    height: 200px !important;
}